/* globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333333;
    /*scroll-behavior: smooth;*/
  }

*:focus {
    outline: none;
}

html {
    position: relative;
}

html, button {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-color: #FCFCFC;
}

h1, h2, h3, p, span, button {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 14px;
    color: #056DAA;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px;
}

p, span {
    font-size: 14px;
}

p {
    font-weight: 300;
}

button {
    font-size: 14px;
}

.app {
    padding: 0 20px;
}

section {
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 5px;
}

.section--activated {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.search {
    box-shadow: none;
    background-color: inherit;
}

/* api container */
.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.api-container {
    border-top: none;
    padding-top: 25px;
}

.api-container--activated {
    border-top: 1px solid #D4D4D4;
}

.left-column,
.right-column {
    width: 100%;
    max-width: 500px;
}

.city-name {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.city-name-subtitle {
    text-align: center;
}

/* loaders */
.loader-left {
    z-index: 100;
    margin-right: 15px;
}

.loader__title {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.loader__subtitle {
    width: 230px;
    height: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* current section loader */
.current__loader {
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}

.current__loader-headline {
    height: 120px;
}

.current__loader-content {
    padding: 20px;
}

.current__loader-content1 {
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

.current__loader-content2 {
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

.current__loader-content3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current__loader-content3 div {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.current__loader-title {
    width: 120px;
    height: 20px;
    margin-bottom: 20px;
}

/* history section loader */
.history__loader {
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.history__loader-title {
    width: 70px;
    height: 20px;
    margin-bottom: 20px; 
}

.history__loader-btns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.history__loader-btns div {
    width: 80px;
    height: 30px;
    margin: 0 5px;
}

.history__loader-days{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.history__loader-days div {
    width: 55px;
    height: 55px;
    margin-right: 3px;
}

.history__loader-table-head {
    height: 20px;
}

.history__loader-table-element {
    height: 50px;
    margin-top: 10px;
}

.history__loader-table-btn {
    width: 75px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

/* news section loader */
.news__loader {
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 10px;
}

.news__loader-title {
    width: 250px;
    height: 20px;
    margin-bottom: 20px; 
}

.news__loader-article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.news__loader-article div:first-of-type {
    width: 250px;
    height: 50px;
    margin-right: 20px;
}

.news__loader-article div:nth-of-type(2) {
    width: 80px;
    height: 80px;
}

.news__loader-btn {
    width: 75px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

/* map section loader */
.map {
    top: -2200px;
    z-index: -1;
}

.map__loader {
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.map__loader-title {
    width: 120px;
    height: 20px;
    margin-bottom: 20px; 
}

.map__loader-container {
    height: 600px;
    position: relative;
    background: #fafafa;
    overflow: hidden;
}

.map__loader-container::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #f3f2f2, transparent);
    transform: translateX(-100%);
}

.map__loader-container div:nth-of-type(1) {
    width: 160px;
    height: 40px;
    margin: 15px;
}

.map__loader-container div:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 15px;
}

.map__loader-container div:nth-of-type(3) {
    position: absolute;
    right: 0;
    bottom: 130px;
    width: 35px;
    height: 35px;
    margin: 15px;
}

.map__loader-container div:nth-of-type(4) {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 35px;
    height: 70px;
    margin: 15px;
}

.loader--grey {
    position: relative;
    background: #e5e4e4;
    overflow: hidden;
}

.loader--grey::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
    transform: translateX(-100%);
    animation: loading 1s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

/* nav */
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff;
    z-index: 100;
}

.nav__container {
    width: 100%;
    max-width: 1520px;
}

.nav__logo {
    width: 140px;
    height: 40px;
}

/* search section */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    width: 100%;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 45px;
    width: 100%;
}

.search__title {
    margin-bottom: 10px;
    font-size: 28px;
}

.search__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 25px;
    margin-top: 20px;
}

.search__field {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.search__input {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

.search__input--activated {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search__img img {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 40px;
    height: 40px;
}

.search__predictions {
    display: none;
}

.search__predictions--activated {
    position: absolute;
    top: 36px;
    display: block;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border-top: none;
    list-style-type: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.search__predictions li {
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
}

.search__predictions li:hover,
.search__predictions li:active {
    background-color: #F6F6F6;
}

.search__position {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 20px;
}

/* current section */
.current {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
}

.current__headline {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.current__aqi {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 80px;
    min-height: 80px;
    margin-right: 18px;
}

.current__aqi span {
    font-size: 30px;
    color: #ffffff;
}

.current__health span {
    font-size: 24px;
    font-weight: 500;
}

.current__headline-emoji {
    display: none;
}

.current__container {
    padding: 20px;
    width: 100%;
}
.current__data h2,
.currend__polluttants div,
.current__polluttant,
.current__condition {
    margin-bottom: 10px;
}

.current__polluttant,
.current__condition {
    display: flex;
    justify-content: space-between;
}

.current__polluttant p,
.current__condition p {
    font-size: 16px;
}

.current__polluttant span {
    min-width: 45px;
    padding: 0 3px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    color: #333;
}

.current__weather {
    margin-top: 20px;
    margin-bottom: 25px;
}

.current__condition span {
    min-width: 45px;
    padding: 0 3px;
    text-align: center;
    font-size: 17px;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    color: #333;
}

.current__weather {
    margin-top: 20px;
    margin-bottom: 25px;
}

.current__weather-error {
}

.current__recommendation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.current__recommendation img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.error__message {
    padding: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.error__message h2 {
    font-weight: 400;
    justify-self: flex-start;
}

.error__message h1 {
    font-weight: 400;
    margin: auto 0;
}

/* history section */
.history {
    display: flex;
    flex-direction: column;
}

.history__container {
    padding: 20px;
}

.history__view-btns {
    display: flex;
    justify-content: center;
}

.history__view-btns button {
    border: none;
    padding: 10px 5px;
    margin: 0 5px;
    cursor: pointer;
}

.history__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.history__toggle-sphere {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #56A3D0;
}

.history__toggle-btn {
    display: flex;
    justify-content: flex-start;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: #F6F6F6;
    margin: 0 7px;
    box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.history__btn--activated,
.history__view-btn--activated {
    background-color: #56A3D0;
    color: #fff;
}

.history__table {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 5px;
}

.history__days {
    display: flex;
    justify-content: flex-start;
}

.history__day-btn {
    border: none;
    width: 55px;
    height: 55px;
    margin-right: 3px;
    font-size: 13px;
    padding: 0 4px;
    cursor: pointer;
}

.history__table-head {
    display: flex;
    justify-content: space-between;
    background-color: #56A3D0;
    padding: 5px 10px;
    padding-left: 15px;
}

.history__table-head p {
    color: #fff;
}

.history__body {
    position: relative;
}

.history__element {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px solid #C9C3C3;
}

.history__element-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history__element button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: #F6F6F6;
    cursor: pointer;
    margin-top: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

.history__element button span {
    margin-top: 2px;
    margin-left: 5px;
}


.history__element-aqi {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.history__element-sphere {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87C13C;
    border-radius: 50%;
    min-width: 35px;
    min-height: 35px;
    margin-right: 10px;
}

.history__element-sphere span {
    color: #fff;
}

.history__element-aqi p {
    position: absolute;
    right: -75px;
    width: 80px;
}

.history__element-table {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.history__element-table-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    background-color: #56A3D0;
    height: 20px;
    width: 100%;
    padding: 0 5px;
}

.history__element-table-head p {
    color: #fff;
    text-align: left;
}

.history__element-table-head p:first-of-type {
    margin-left: 10px;
}

.history__element-table-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 5px 5px;
    padding-top: 15px;
}

.history__element-table-body p {
    text-align: left;
    margin-left: 5px;
}

.history__element-table-body p:nth-of-type(4) {
    margin-left: 0;
}

.history__element-table-body p:nth-of-type(5),
.history__element-table-body p:nth-of-type(6) {
    margin-left: 10px;
}

.history__body {
    margin-bottom: 10px;
}

.history__more-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin: 0px auto;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.history__more-btn span {
    margin-top: 2px;
    margin-left: 5px;
}

.history__day-btn--activated {
    background-color: #56A3D0;
    color: #fff;
}

.history__graph-hourly,
.history__graph-hourly-pm10 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.history__graph-hourly-content {
    background-color: #F6F6F6;
    margin-top: 20px;
    height: 210px;
    padding-top: 10px;
    position: relative;
}

.history__graph-hourly-bars {
    display: grid;
    justify-content: space-between;
    align-items: end;
    grid-template-columns: repeat(24, 4.2%);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.history__graph-hourly-bar {
    width: 7px;
    margin: 0 4px;
    position: relative;
}

.history__graph-hourly-bar:nth-of-type(1):after,
.history__graph-hourly-bar:nth-of-type(6):after,
.history__graph-hourly-bar:nth-of-type(11):after,
.history__graph-hourly-bar:nth-of-type(16):after,
.history__graph-hourly-bar:nth-of-type(21):after {
    content:"";
    position: absolute;
    height: 7px;
    bottom: -7px;
    left: 50%;
    border-left: 1px solid #C4C4C4;
    transform: translate(-50%);
}

.history__graph-hourly-side p:first-of-type {
    position: absolute;
    left: -17px;
    top: 33.3%;
}

.history__graph-hourly-side p:last-of-type{
    position: absolute;
    left: -17px;
    top: 66.6%;
}

.history__graph-hourly-footer {
    display: grid;
    grid-template-columns: repeat(5, 20.6%);
    text-align: left;
    margin-top: 7px;
    justify-content: space-between;
}

.history__graph-daily,
.history__graph-daily-pm10 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.history__graph-daily-content {
    background-color: #F6F6F6;
    margin-top: 20px;
    height: 210px;
    padding-top: 10px;
    position: relative;
}

.history__graph-daily-bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.history__graph-daily-bar {
    width: 15px;
    margin: 0 10px;
    transition: height 1s;
}
.history__graph-daily-side p:first-of-type {
    position: absolute;
    left: -17px;
    top: 33.3%;
}

.history__graph-daily-side p:last-of-type{
    position: absolute;
    left: -17px;
    top: 66.6%;
}

.history__graph-daily-footer {
    display: flex;
    margin-top: 7px;
    justify-content: space-between;
}

.history__bar--hide {
    height: 0 !important; 
}

.history__pm-btns {
    display: flex;
    width: fit-content;
    margin: 20px auto;
}

.history__pm25-btn,
.history__pm10-btn {
    border: none;
    background-color: #F6F6F6;
    padding: 7px 10px;
    margin: 0 5px;
    font-size: 13px;
    cursor: pointer;
}

.history__pm-btn--activated {
    background-color: #56A3D0;
    color: #fff;
}

/* news section */
.news h3 {
    margin-top: 5px;
}

.news__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.news__article {
    background-color: #F6F6F6;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.news__article-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__article-text {
    margin-bottom: 5px;
    margin-right: 20px;
}

.news__article-text p {
    font-weight: 700;
}

.news__article-text h2 {
    color: #056DAA;
    margin-bottom: 5px;
}

.news__article img {
    width: 90px;
    height: 90px;
    background-color: #C4C4C4;
}

.news__show-btn {
    position: relative;
    border: none;
    background: #F6F6F6;
    margin: 0px auto;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

/* map section */
.map h3 {
    padding: 20px;
    margin-bottom: 0;
}

.info-window {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info-window__title {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.info-window__aqi {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 20px;
}

.info-window__btn {
    border: none; 
    background: none;
    border: 1px solid #D4D4D4;
    height: 35px;
    font-size: 12px;
}

.info-window__btn:hover,
.info-window__btn:active {
    background-color: #F6F6F6;
}

/* footer */
footer {
    width: 100%;
    padding: 20px 60px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.footer__title {
    width: 120px;
    height: 35px;
    margin-bottom: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    margin-top: 10px; 
}

.footer__social {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__social-links {
    display: flex;
    margin-top: 10px;
}

.footer__social-links div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #056DAA;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.footer__social img {
    width: 15px;
    height: 15px;
}

.footer__rules {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-top: 1px solid #D4D4D4;
}

.footer__rules a,
.footer__rules p {
    margin-top: 10px; 
}

.footer__bio {
    margin-top: 20px;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 620px) {

    /* globals */
    h1 {
        font-size: 30px;
    }

    .city-name-subtitle {
        margin-bottom: 15px;
    }
    
    /* search section */
    .search__title {
        font-size: 34px;
    }

    .search__subtitle {
        font-size: 16px;
    }

    .search span {
        font-size: 16px;
    }

    .search__position {
        font-size: 16px;
        cursor: pointer;
    }

    .search__input {
        height: 40px;
        padding: 5px 20px;
        font-size: 16px;
    }

    .search__img img {
        position: absolute;
        top: -2px;
        right: 0;
        width: 45px;
        height: 45px;
    }

    /* api container */
    .api-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sections {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
        margin-top: 25px;
        width: 100%;
        max-width: 1200px;
    }

    .left-column {
        position: relative;
        margin-right: 15px;
        min-width: 300px;
        max-width: 400px;
    }
    
    .right-column {
        max-width: 100%;
    }

    /* current section */
    .current {
        margin-top: 0;
    }   

    .current__aqi {
        border-radius: 0;
    }

    /* footer */
    footer {
        flex-direction: column;
    }

    .footer__container {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .footer__title {
        margin-right: 20px;
    }

    .footer__links {
        margin-right: 20px;
        flex-direction: row;
        align-items: center;
    }

    .footer__links a {
        margin-left: 40px;
    }

    .footer__links h2 {
        display: none;
    }
    
    .footer__social {
        margin-top: 0;
        margin-left: auto;
    }

    .footer__social h2 {
        display: none;
    }

    .footer__rules{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20px;
    }

    .footer__rules p,
    .footer__rules a {
        font-size: 12px;
        margin-left: 20px;
        margin-top: 0;
    }

    .footer__rules a {
        height: fit-content;
    }

    .footer__bio {
        margin-left: auto;
        margin-top: 10px;
        font-size: 12px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1000px) {

    /* navbar */
    .nav__logo {
        width: 150px;
        height: 45px;
    }

    /* current section */
    .current__headline-emoji {
        display: block;
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: 10px;
    }

    .current__data {
        display: flex;
        justify-content: space-between;
    }

    .current__polluttants {
        width: 50%;
        margin-right: 40px;
    }
    .current__weather {
        margin-top: 0;
        width: 50%;
    }

    .current__recommendations {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
    }

    /* history section */

    .history__table-head-polluttants {
        display: flex;
        justify-content: space-between;
    }

    .history__table-head-polluttants p {
        text-align: left;
    }

    .history__element {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        align-items: center;
    }

    .history__element p {
        text-align: left;
    }

    .history__element-container {
        display: flex;
    }

    .history__element-aqi {
        width: 50px;
        margin-right: 40px;
    }

    .history__element-polluttants {
        display: flex;
    }

    .history__table-head {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    .history__table-head p {
        text-align: left;
        margin-left: 10px;
    }

    .history__table-head p:nth-of-type(1) {
        text-align: left;
        margin-left: 2px;
    }

    .history__table-head p:nth-of-type(2){
        text-align: left;
        margin-left: 10px;
    }

    .history__table-head p:nth-of-type(4) {
        text-align: left;
        margin-left: 0;
    }

    .history__table-head p:nth-of-type(5) {
        text-align: left;
        margin-left: 2px;
    }
}

.hide {
    display: none;
}